
/*header*/
/*______________________________________________*/
header{
    background: #CCCCCC;
    padding: 20px 0;
}

.caixa{
    width: 940px;
    position: relative;
    margin: auto;
    
}

nav{
    position: absolute;
    top: 110px;
    right: 100px;
    
}

nav li{
    display: inline;
    margin: 0 0 0 40px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
}

nav a:hover{
    color: yellow;
    text-decoration: underline;
}


/*______________________________________________*/

/*main*/
main{width: 940px; margin: 0 auto;}

form{margin: 40px 0;}

form label, form p{
    display: block;
    font-size: 20px;
    margin: 0 0 20px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%;
}

.checkbox{
    margin: 30px 0;
}







/*footer*/
/*______________________________________________*/
footer{
    text-align: center;
    background: url("pictures/bg.jpg");
}

.rodape-descricao{
    font-size: 16px;
    color: white;
    font-style: normal;
    font-weight: bold;
    margin-top: 20px;
}
/*______________________________________________*/