/*font from google */
body{
    font-family: 'Montserrat', sans-serif;
}

/*header*/
header{
    background: #CCCCCC;
    padding: 20px 0;
}

.caixa{
    width: 940px;
    position: relative;
    margin: auto;
    
}

nav{
    position: absolute;
    top: 110px;
    right: 100px;
    
}

nav li{
    display: inline;
    margin: 0 0 0 40px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
    transition: 1s;
    background: #ccffcc;
    border: none;
    border-radius: 1em;
    padding: 0.2em;
}

nav a:hover{
    background: green;
    transition: 0.5s;
}

/*main*/
.banner{
    width: 100%;
}

.principal{
    background: #ffffff;
    width: 940px;
    margin: 0 auto;
}

.principal p{
    margin: 0 0 1em;
    font-weight: bold;
    font-size:  1em;  
}

.titulo-centralizado{
    margin: 1em 0 1em 0;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
}

.titulo-centralizado:before{
    content: "[";
}
.titulo-centralizado:after{
    content: "]";
}

.titulo-centralizado:first-letter{
    font-size: 1.5em;
}

.titulo-centralizado:hover{
    font-size: 2.2em;
    color: blue;
    transition: 0.5s;
}


#missao{
    font-size: 1.1em;
    margin: 0.5em 0 0.5em 0;
}

em strong{
    color: blue;
    font-style: italic; 
    text-decoration-line: underline;
    transition: 0.5s;
}

em strong:hover{
    font-size: 1.3em;
    transition: 0.5s;
}

.utensilios{
    width: 180px;
    float: left;
    margin: 0 2em 0 0;
}


.beneficios{
    background: linear-gradient(#FEFEFE,#979797);
    text-align: center;
    padding: 20px;
    clear: left;
    clear: right; 
}

.imagemBeneficio{
    width: 47%;
}

.beneficios ul{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 0 auto;
}

.beneficios li{
    margin: 1em 1em 1em 1em;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 15px;
    font-size: 22px;
    font-weight: bold;
    transition: 0.5s;
}

.beneficios li:before{
    content: "\2606";
    margin: 0 0.1em 0 0;
}

.beneficios li:hover{
    border-color: blue;
    color: blue;
    border: 4px solid;
    transition: 0.5s;

}

.mapa{
    padding: 0.5em 6em;
    background: linear-gradient(#979797,#8f8f8f);
}
.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
    font-weight: bold;
}

.video{
    width: 560px;
    margin: 1em auto;
}



/*footer*/

footer{
    text-align: center;
    background: url("pictures/bg.jpg");
}

.rodape-descricao{
    font-size: 16px;
    color: white;
    font-style: normal;
    font-weight: bold;
    margin-top: 20px;
}