
/*header*/
header{
    background: #CCCCCC;
    padding: 20px 0;
}

.caixa{
    width: 940px;
    position: relative;
    margin: auto;
    
}

nav{
    position: absolute;
    top: 110px;
    right: 100px;
    
}

nav li{
    display: inline;
    margin: 0 0 0 40px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
}

nav a:hover{
    color: yellow;
    text-decoration: underline;
}


/*I'm analysing*/
body{
    border: 2px solid;

}

p{
    text-align: left;
}

.titulo-principal{
    background: #CCCCCC;
    padding-left: 30px;

}
.titulo-centralizado{
    text-align: center;    
}



.banner{
    margin: auto;
    border: 2px;
}

.itens{
    font-style: italic;
}

#missao{
    font-size: 20px;
}

em strong {
    color: rgb(255, 255, 0);
}

.beneficios{
    background: white;
    text-align: center;
    padding: 20px;
}

.principal{
    background: #CCCCCC;
    padding: 30px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin-right: auto;
}

.imagemBeneficio{
    
    width: 50%;
}


/*footer*/

footer{
    text-align: center;
    background: url("pictures/bg.jpg");
}

.rodape-descricao{
    font-size: 16px;
    color: white;
    font-style: normal;
    font-weight: bold;
    margin-top: 20px;
}