body{
    border: 2px solid;

}

p{
    text-align: left;
}

.titulo-principal{
    background: #CCCCCC;
    padding-left: 30px;

}
.titulo-centralizado{
    text-align: center;    
}



.banner{
    margin: auto;
    border: 2px;
}

.itens{
    font-style: italic;
}

#missao{
    font-size: 20px;
}

em strong {
    color: rgb(255, 255, 0);
}

.beneficios{
    background: white;
    text-align: center;
    padding: 20px;
}

.principal{
    background: #CCCCCC;
    padding: 30px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin-right: auto;
}

.imagemBeneficio{
    
    width: 50%;
}
