body{
    border: 2px solid;

}

p{
    text-align: left;
}
h1{
    text-align: center;    
}

.banner{
    margin: auto;
    border: 2px;
}

.itens{
    font-style: italic;
}

#missao{
    font-size: 20px;
}

em strong {
    color: rgb(255, 255, 0);
}

.beneficios{
    background: white;
    text-align: center;
}

.principal{
    background: #CCCCCC;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagemBeneficio{
    width: 50%;
}
